<template>
  <h1>RecordWizard</h1>
  <div v-if="isAuthenticated" id="record-wizard">
    <div>
      <h2>Steps</h2>
      <ol id="rw-steps">
        <li
          v-for="(step, index) in steps"
          :key="index"
          :class="currentStep == index ? 'active' : ''"
        >
          <span class="rw-step-marker">
            <CdxIcon v-if="currentStep > index" :icon="cdxIconCheck" />
            <span v-else>{{ index + 1 }}</span>
          </span>
          {{ step.name }}
        </li>
      </ol>
    </div>
    <div class="steps-container">
      <router-view
        @can-go-to-next-step="allowGoingToNextStep()"
        @can-not-go-to-next-step="disallowGoingToNextStep()"
      ></router-view>

      <div>
        <CdxButton
          v-if="currentStep != 0"
          action="progressive"
          weight="quiet"
          size="large"
          @click="previousStep()"
        >
          <CdxIcon :icon="cdxIconArrowPrevious" />
          Previous
        </CdxButton>

        <CdxButton
          v-if="currentStep + 1 < steps.length"
          action="progressive"
          weight="primary"
          size="large"
          :disabled="!steps[currentStep].canGoToNextStep"
          @click="nextStep()"
        >
          Next
          <CdxIcon :icon="cdxIconArrowNext" />
        </CdxButton>
      </div>
    </div>
  </div>
  <div v-else>
    <p>You must be logged in in order to use the RecordWizard.</p>
    <CdxButton action="progressive" weight="primary" @click="goToLogin()">
      <CdxIcon :icon="cdxIconLogoWikimediaCommons" /> Login in through Wikimedia Commons
    </CdxButton>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { CdxButton, CdxIcon } from '@wikimedia/codex'
import {
  cdxIconArrowPrevious,
  cdxIconArrowNext,
  cdxIconCheck,
  cdxIconLogoWikimediaCommons,
} from '@wikimedia/codex-icons'
import VueCookies from 'vue-cookies'

const isAuthenticated = VueCookies.get('sessionid') || ''
const router = useRouter()

const steps = ref([
  { route: 'record-wizard.locutor', name: 'Locutor', canGoToNextStep: false },
  { route: 'record-wizard.language', name: 'Language', canGoToNextStep: false },
  { route: 'record-wizard.hardware-check', name: 'Hardware Check', canGoToNextStep: false },
  { route: 'record-wizard.word-list', name: 'Word List', canGoToNextStep: false },
  { route: 'record-wizard.record', name: 'Record', canGoToNextStep: false },
  { route: 'record-wizard.review', name: 'Review', canGoToNextStep: false },
])

let currentStep = 0

function nextStep() {
  currentStep++
  router.push({ name: steps.value[currentStep].route })
}

function previousStep() {
  currentStep--
  router.push({ name: steps.value[currentStep].route })
}

function allowGoingToNextStep() {
  steps.value[currentStep].canGoToNextStep = true
}

function disallowGoingToNextStep() {
  steps.value[currentStep].canGoToNextStep = false
}

function goToLogin() {
  window.location.replace(import.meta.env.VITE_HOST + '/oauth/login/mediawiki')
}
</script>

<style scoped>
#record-wizard {
  display: flex;
  flex-direction: row;
}

.steps-container {
  flex-grow: 1;
  padding: 40px 80px;
}

#rw-steps {
  list-style: none;
  line-height: 30px;
  font-size: 16px;
  padding: 0px;
}

#rw-steps li {
  margin-bottom: 12px;
  font-weight: bold;
}

.rw-step-marker {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  text-align: center;
  background-color: black;
  border-radius: 100%;
  color: white;
  font-weight: bold;
}

.rw-step-marker .cdx-icon {
  color: white;
}

#rw-steps li.active {
  color: #3366cc;
}
#rw-steps li.active .rw-step-marker {
  background-color: #3366cc;
}

#rw-steps li.active ~ li {
  color: #50545e;
  font-weight: normal;
}
#rw-steps li.active ~ li .rw-step-marker {
  background-color: #50545e;
}
</style>
