<template>
  <h1>My Upload Batch #{{ route.params.id }}</h1>
  <CdxMessage v-if="apiError !== ''" type="error" fade-in inline>
    {{ errorMessages[apiError] }}
  </CdxMessage>
  <pre>{{ uploadBatch }}</pre>
  <pre>{{ recordings }}</pre>
</template>

<script setup>
import axios from 'axios'
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { CdxMessage } from '@wikimedia/codex'
const route = useRoute()

const uploadBatch = ref({})
const recordings = ref([])

const apiError = ref('')
const NETWORK_ERROR = 'NETWORK_ERROR'
const NOT_AUTHENTICATED = 'NOT_AUTHENTICATED'
const UNEXPECTED_ERROR = 'UNEXPECTED_ERROR'
const CANNOT_FIND_UPLOAD_BATCH = 'CANNOT_FIND_UPLOAD_BATCH'

const errorMessages = {
  NETWORK_ERROR:
    "Could not reach Lingua Libre's server. Either it is currently unavailable, or your internet connection is unstable. Please try again in a few minutes.",
  NOT_AUTHENTICATED:
    'An issue occurred when authenticating the request. Please logout and login again.',
  UNEXPECTED_ERROR:
    "An unexpected error occurred. Please contact the site's administrator and provide the error log from the console.",
  CANNOT_FIND_UPLOAD_BATCH: 'Could not find this Upload Batch.',
}

function handleError(error) {
  if (error.response) {
    // Got a response but not 200 OK
    // 403 Not Authenticated (same, should technically never happen, but you never know)
    if (error.response.status === axios.HttpStatusCode.Forbidden) apiError.value = NOT_AUTHENTICATED
    // 404 Not Found (same, should technically never happen)
    else if (error.response.status === axios.HttpStatusCode.NotFound)
      apiError.value = CANNOT_FIND_UPLOAD_BATCH
    // Unexpected error
    else {
      apiError.value = UNEXPECTED_ERROR
      console.log(error.response)
    }
  } else if (error.request) {
    // Could not get a response, probably a network error
    apiError.value = NETWORK_ERROR
  }
}

axios
  .get('/upload-batches/my/' + route.params.id, {
    withCredentials: true,
  })
  .then((response) => response.data)
  .then((response) => (uploadBatch.value = response))
  .catch((error) => handleError(error))

axios
  .get('/upload-batches/my/' + route.params.id + '/recordings', {
    withCredentials: true,
  })
  .then((response) => response.data)
  .then((response) => (recordings.value = response))
  .catch((error) => handleError(error))
</script>
