<template>
  <ul>
    <li v-for="index in 15" :key="index" :class="getClass(index)"></li>
  </ul>
</template>

<script setup>
const props = defineProps({
  level: {
    type: Number,
    default: 0,
  },
  saturated: {
    type: Boolean,
    default: false,
  },
})

function getClass(index) {
  if (props.saturated) return 'saturated'
  else if (props.level >= index) return 'active'
}
</script>

<style scoped>
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
}

li {
  width: 9px;
  height: 23px;
  border-radius: 10px;
  background-color: #dfe6f5;
}

li + li {
  margin-left: 7px;
}

li.active {
  background-color: #00bd44;
}

li.saturated {
  background-color: #dd3333;
}
</style>
