<template>
  <ul class="word-list">
    <li
      v-for="(word, index) in words"
      :key="index"
      :class="selectedIndex === index ? 'active' : ''"
      class="word-list-item"
    >
      {{ word }}
      <slot name="word-status" :word="word"></slot>
      <CdxButton
        v-if="Object.keys(primaryAction).length != 0"
        weight="quiet"
        :aria-label="primaryAction.label"
        @click="emit('primary', word, index)"
      >
        <CdxIcon class="word-list-icon" :icon="primaryAction.icon" />
      </CdxButton>
    </li>
  </ul>
</template>

<script setup>
import { CdxButton, CdxIcon } from '@wikimedia/codex'

defineProps({
  words: {
    type: Array[String],
    required: true,
  },
  selectedIndex: {
    type: Number,
    default: -1,
  },
  primaryAction: {
    type: Object, // { label: String, icon: Codex Icon }
    default: () => ({}),
  },
})

const emit = defineEmits(['primary'])
</script>

<style>
.word-list {
  list-style: none;
  padding-left: 0px;
}

.word-list-icon.cdx-icon {
  color: grey;
}

.word-list-item {
  padding: 4px;
  padding-left: 32px;
  padding-right: 1em;
  border-radius: 15px 15px 15px 15px;
}

.word-list-item:hover {
  font-weight: bold;
  background-color: rgba(216, 222, 228, 0.5);
}

.word-list-item.active {
  font-weight: bold;
  background-color: #f8f9fa;
}
</style>
