<template>
  <h2>Check your hardware</h2>
  <CdxButton @click="getAudioStream()"> Reopen the permission popup </CdxButton>

  <CdxButton
    v-if="microphoneTestState === 'init'"
    :disabled="permissionDenied"
    @click="recordMicrophoneTest()"
  >
    Test your microphone!
  </CdxButton>
  <div v-else-if="microphoneTestState === 'record'">Recording...</div>
  <div v-else-if="microphoneTestState === 'play'">Listening...</div>
  <div v-else-if="microphoneTestState === 'wait'">Waiting...</div>
  <CdxMessage v-if="permissionDenied" type="error" dismiss-button-label="Close" fade-in>
    <p><b>Permission to use the microphone or camera was denied.</b></p>
    <p>
      Please give permission before continuing, or ensure you have a microphone or camera connected
      to your device.
    </p>
  </CdxMessage>
</template>

<script setup>
import { LinguaRecorder } from 'lingua-recorder'
import { CdxButton, CdxMessage } from '@wikimedia/codex'
import { onMounted, onUnmounted, ref } from 'vue'

const emit = defineEmits(['canGoToNextStep', 'canNotGoToNextStep'])

let recorder = null // either instance of LinguaRecorder or null (reinstanciating allows to reask for permission)
const microphoneTestState = ref('init') // init -> wait -> record -> wait -> play ⟲
let recorderStopTimeout = null // either null or timeout of the recorder to avoid having it run indefinitely
const permissionDenied = ref(false)

const showError = function (mediaStreamError) {
  // This can happen if the browser refused to ask for the microphone permission
  // or if the user blocked us from using the mic or camera
  console.log('Could not load the Recorder')
  console.log(mediaStreamError)
  permissionDenied.value = true
}

const unloadRecorder = function () {
  if (!recorder) {
    return
  }

  recorder.stop()
  recorder.off('readyFail')
  recorder.off('ready')
  recorder.off('stopped')
  recorder.close()
  recorder = null
}

const getAudioStream = function () {
  // Make sure any currently active recorder is disabled
  unloadRecorder()

  recorder = new LinguaRecorder({
    autoStart: true,
    autoStop: true,
  })

  // disable the error message
  permissionDenied.value = false

  recorder.on('readyFail', showError)
  recorder.on('ready', () => recorder.on('stopped', playMicrophoneTest))
}

const playMicrophoneTest = function (record) {
  microphoneTestState.value = 'wait'

  setTimeout(() => {
    microphoneTestState.value = 'play'
    clearTimeout(recorderStopTimeout)

    const audioNode = record.getAudioElement()
    audioNode.play()

    setTimeout(
      () => {
        microphoneTestState.value = 'init'

        // Microphone has been tested, so we can go to the next step
        emit('canGoToNextStep')
      },
      record.getDuration() * 1000 + 300,
    )
  }, 1100)
}

const recordMicrophoneTest = function () {
  microphoneTestState.value = 'wait'

  setTimeout(() => {
    microphoneTestState.value = 'record'
    recorder.start()
    recorderStopTimeout = setTimeout(recorder.stop.bind(recorder), 8000)
  }, 1100)
}

onMounted(() => getAudioStream())
onUnmounted(() => unloadRecorder())
</script>
