<template>
  <div class="container">
    <div class="heading-container">
      <h2 class="heading">Studio</h2>
      <KeyboardShortcutsDialog :shortcuts="keyboardShortcuts" />
    </div>
    <div class="main-content">
      <div class="words-display">
        <div class="word-list">
          <WordList :words="store.words" :selected-index="currentWord">
            <template #word-status="statusProps">
              <CdxIcon
                v-if="statusProps.word in store.recordings"
                :icon="cdxIconCheck"
                aria-label="recorded"
              />
            </template>
          </WordList>
        </div>
        <div style="width: 100%; grid-column: span 3 / span 3">
          <div class="recorder-div">
            <p>
              Click the <span style="color: #36c; font-weight: 500">toggle</span> button to start
              recording
            </p>
            <div class="word-recording">
              <p>{{ store.words[currentWord] }}</p>
              <CdxButton weight="quiet" class="skip-btn">
                Skip to the next word 
                <CdxIcon :icon="cdxIconArrowNext" />
              </CdxButton>
            </div>
          </div>
          <div id="recordwizard-actions">
            <CdxButton class="recording-btn" @click="toggleRecording()">
              <span v-if="!isRecording">Start recording</span>
              <span v-else>Stop recording</span>
            </CdxButton>
            <div id="recordwizard-recorder-indicator">
              <SoundMeter :level="soundLevel" :saturated="isSaturated" />
              <span v-if="isSaturated">SAT</span>
            </div>
            <div id="recordwizard-counter">
              {{ Object.keys(store.recordings).length }} / {{ store.words.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { LinguaRecorder } from 'lingua-recorder'
import { CdxButton, CdxIcon } from '@wikimedia/codex'
import { cdxIconCheck, cdxIconArrowNext } from '@wikimedia/codex-icons'
import { useRecordWizardStore } from '@/stores/recordwizard'
import { ref, onMounted, onUnmounted, watch } from 'vue'
import WordList from '@/components/WordList.vue'
import KeyboardShortcutsDialog from '@/components/KeyboardShortcutsDialog.vue'
import SoundMeter from '@/components/SoundMeter.vue'

const emit = defineEmits(['canGoToNextStep', 'canNotGoToNextStep'])

const store = useRecordWizardStore()
const currentWord = ref(0)
let recorder // either instance of LinguaRecorder or undefined (reinstanciating allows to reask for permission)
const isSaturated = ref(false)
const isRecording = ref(false)
const soundLevel = ref(0)

const keyboardShortcuts = [
  {
    key: '←',
    description: 'Previous Word',
  },
  {
    key: '→',
    description: 'Next Word',
  },
  {
    key: 'space',
    long: true,
    description: 'Toggle Recording',
  },
]

watch(
  () => store.hasRecordings,
  () => {
    if (store.hasRecordings) emit('canGoToNextStep')
    else emit('canNotGoToNextStep')
  },
)

const initRecorder = function () {
  recorder = new LinguaRecorder({
    autoStart: true,
    autoStop: true,
    onSaturate: 'discard',
    startThreshold: 0.1,
    stopThreshold: 0.05,
    stopDuration: 0.3,
    marginBefore: 0.25,
    marginAfter: 0.25,
    saturationThreshold: 0.99,
  })

  recorder.on('ready', () => {
    /* TODO Video recording */
  })
  recorder.on('stopped', (record) => {
    const word = store.words[currentWord.value]
    const blob = record.getBlob()

    store.recordings[word] = blob

    if (!moveForward()) {
      cancelRecording()
    }
  })
  recorder.on('canceled', (reason) => {
    isRecording.value = false
    if (reason === 'saturated') {
      startRecording()
    }
  })
  recorder.on('saturated', () => {
    isSaturated.value = true
  })
  recorder.on('recording', (samples) => {
    onDataAvailable(samples)
  })
}

initRecorder()

const _move = (displacement) => {
  if (
    currentWord.value + displacement < 0 ||
    currentWord.value + displacement >= store.words.length
  )
    return false

  let wasRecording = false
  if (isRecording.value) {
    cancelRecording()
    wasRecording = true
  }

  currentWord.value += displacement

  if (wasRecording) startRecording()

  return true
}

const moveForward = () => _move(+1)
const moveBackward = () => _move(-1)

const startRecording = function () {
  if (!isRecording.value) {
    if (currentWord.value < 0 || currentWord.value >= store.words.length) {
      return
    }

    isRecording.value = true
    isSaturated.value = false
    recorder.start()
  }
}

const cancelRecording = function () {
  if (isRecording.value) {
    recorder.cancel()
    isRecording.value = false
    isSaturated.value = false
    soundLevel.value = false
  }
}

const toggleRecording = function () {
  if (isRecording.value) cancelRecording()
  else startRecording()
}

function onDataAvailable(samples) {
  let amplitude,
    amplitudeMax = 0

  for (const sample of samples) {
    amplitude = Math.abs(sample)
    if (amplitude > amplitudeMax) {
      amplitudeMax = amplitude
    }
  }

  // Display the amplitude on the sound amplitude meter following a parabolic transfer function v(x) = -p*x^2 + (p+15)*x
  // with a factor p=10

  soundLevel.value = Math.floor(-10 * amplitudeMax * amplitudeMax + 25 * amplitudeMax)
  // if we want a linear vumeter: Math.floor( amplitudeMax * 15 );
}

function handleShortcuts(event) {
  // Do not trigger those events when the user is focusing an input
  if (event.target.nodeName === 'INPUT' || event.target.nodeName === 'BUTTON') {
    return
  }

  switch (event.which) {
    case 37: // left
    case 38: // up
      moveBackward()
      break

    case 39: // right
    case 40: // down
      moveForward()
      break

    case 32: // space bar
      if (!event.repeat) toggleRecording() // Prevent 'repeating' this action if key is pressed for a long time
      break

    default:
      return
  }
  event.preventDefault()
}

onMounted(() => {
  addEventListener('keydown', handleShortcuts)
})

onUnmounted(() => {
  removeEventListener('keydown', handleShortcuts)
})
</script>

<style scoped>
.container {
  border-radius: 12px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.17);
  width: 100%;
  margin-bottom: 16px;
}

.heading-container {
  padding: 24px 32px;
  border-bottom: 1px solid #dadada;
  display: flex;
  gap: 8px;
}

.words-display {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.word-list {
  padding: 16px;
  padding-right: 2px;
}

div.word-list {
  grid-column: span 2 / span 2;
  border-right: 1px solid #dadada;
  max-height: 500px;
  overflow-y: scroll;
}

.recorder-div {
  padding: 40px;
  padding-bottom: 32px;
  width: 100%;
  position: relative;
}

.recorder-div > p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}

.word-recording {
  margin-top: 24px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.word-recording > p {
  font-weight: bold;
  font-size: 28px;
}

.skip-btn {
  background: none;
  border: none;
  position: absolute;
  bottom: 48px;
  right: 48px;
  color: #a2a9b1;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#recordwizard-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  border-top: 1px solid #dadada;
}

.recording-btn {
  background: #36c;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
}
</style>
